flows(2).json
[
    {
        "id": "12acb5cac6de8cd4",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "703a1f15e6244f35",
        "type": "mqtt in",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "topic": "dht11/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "f807904cf421b10f",
                "6702453d353cea14"
            ]
        ]
    },
    {
        "id": "cc358255a94e921a",
        "type": "ui_gauge",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "3250b3d94e1fa8e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMIDITY",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "1edb736441d75516",
        "type": "ui_gauge",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "ca3d6129ee0774b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURE",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00ffff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "f807904cf421b10f",
        "type": "function",
        "z": "12acb5cac6de8cd4",
        "name": "function 8",
        "func": "let data = msg.payload.split(\",\");\nmsg.payload = parseFloat(data[0]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "1edb736441d75516",
                "b702f8cd33ecacaa"
            ]
        ]
    },
    {
        "id": "6702453d353cea14",
        "type": "function",
        "z": "12acb5cac6de8cd4",
        "name": "function 9",
        "func": "let data = msg.payload.split(\",\");\nmsg.payload = parseFloat(data[1]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "cc358255a94e921a",
                "2114f1374da91016"
            ]
        ]
    },
    {
        "id": "2114f1374da91016",
        "type": "ui_chart",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "3250b3d94e1fa8e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "CHART",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b702f8cd33ecacaa",
        "type": "ui_chart",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "ca3d6129ee0774b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "CHART",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4f5797ba72c429bc",
        "type": "ui_chart",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "ac01a193e7e49e30",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CHART",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff80ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6bfdefe48b0ab726",
        "type": "function",
        "z": "12acb5cac6de8cd4",
        "name": "function 10",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 600,
        "wires": [
            [
                "4f5797ba72c429bc",
                "13f03ad44882764d"
            ]
        ]
    },
    {
        "id": "12bdbc439ca8387f",
        "type": "mqtt in",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "topic": "ldr/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 600,
        "wires": [
            [
                "6bfdefe48b0ab726"
            ]
        ]
    },
    {
        "id": "13f03ad44882764d",
        "type": "ui_gauge",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "9095ebcfa53b45a0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GAUGE",
        "label": "ADC",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "b7db7cff566e68c7",
        "type": "mqtt in",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "topic": "hcsr04/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "c6ce019b311c6e55"
            ]
        ]
    },
    {
        "id": "c6ce019b311c6e55",
        "type": "function",
        "z": "12acb5cac6de8cd4",
        "name": "function 13",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "874dbcbfc5442537",
                "1029bd3721d22fd6"
            ]
        ]
    },
    {
        "id": "874dbcbfc5442537",
        "type": "ui_gauge",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "7e4ca4b84762c487",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GAUGE",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "1029bd3721d22fd6",
        "type": "ui_chart",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "d574d3168af08533",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CHART",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a663a89c6bebe1cf",
        "type": "ui_chart",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "b342f9e127c184d0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "VALUE",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9b736bd3321c5d44",
        "type": "function",
        "z": "12acb5cac6de8cd4",
        "name": "function 12",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "a663a89c6bebe1cf",
                "f0b98d9db09dcdc4"
            ]
        ]
    },
    {
        "id": "2b3bb9a542e27f83",
        "type": "mqtt in",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "topic": "mq/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "9b736bd3321c5d44"
            ]
        ]
    },
    {
        "id": "f0b98d9db09dcdc4",
        "type": "ui_gauge",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "group": "d6ce21bc59035408",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "VALUE",
        "label": "ADC",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "245035b667ab13cd",
        "type": "function",
        "z": "12acb5cac6de8cd4",
        "name": "function 11",
        "func": "if (msg.payload == 0){\n    msg.payload = \"GAS TERDETEKSI\";\n} else {\n    msg.payload = \"AMAN\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 380,
        "wires": [
            [
                "ea6627eb6cfe54de"
            ]
        ]
    },
    {
        "id": "c88df6f96d302ec2",
        "type": "function",
        "z": "12acb5cac6de8cd4",
        "name": "function 12",
        "func": "if (msg.payload == 0){\n    msg.payload = \"TERANG\";\n} else {\n    msg.payload = \"GELAP\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 700,
        "wires": [
            [
                "6a6f318d81eac0b2"
            ]
        ]
    },
    {
        "id": "ea6627eb6cfe54de",
        "type": "ui_text",
        "z": "12acb5cac6de8cd4",
        "group": "d6ce21bc59035408",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Output Digital",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "6a6f318d81eac0b2",
        "type": "ui_text",
        "z": "12acb5cac6de8cd4",
        "group": "9095ebcfa53b45a0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Output Digital",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "3440b372c3cedad8",
        "type": "mqtt in",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "topic": "mq_digital/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "245035b667ab13cd"
            ]
        ]
    },
    {
        "id": "4e1a917c6caeba11",
        "type": "mqtt in",
        "z": "12acb5cac6de8cd4",
        "name": "",
        "topic": "ldr_digital/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 700,
        "wires": [
            [
                "c88df6f96d302ec2"
            ]
        ]
    },
    {
        "id": "1fda584a28204b8c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3250b3d94e1fa8e6",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "23ce40b25f59cdd3",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": true,
        "className": ""
    },
    {
        "id": "ca3d6129ee0774b9",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "23ce40b25f59cdd3",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac01a193e7e49e30",
        "type": "ui_group",
        "name": "LDR",
        "tab": "1349a6ef6e818384",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9095ebcfa53b45a0",
        "type": "ui_group",
        "name": "LDR",
        "tab": "1349a6ef6e818384",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e4ca4b84762c487",
        "type": "ui_group",
        "name": "HCSR-04",
        "tab": "b455195c09c5ee04",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d574d3168af08533",
        "type": "ui_group",
        "name": "HCSR-04",
        "tab": "b455195c09c5ee04",
        "order": 2,
        "disp": true,
        "width": 17,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b342f9e127c184d0",
        "type": "ui_group",
        "name": "CHART",
        "tab": "6d3a7c3e2773e660",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ce21bc59035408",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "6d3a7c3e2773e660",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "23ce40b25f59cdd3",
        "type": "ui_tab",
        "name": "DHT 11",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1349a6ef6e818384",
        "type": "ui_tab",
        "name": "LDR",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b455195c09c5ee04",
        "type": "ui_tab",
        "name": "HCSR-04",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d3a7c3e2773e660",
        "type": "ui_tab",
        "name": "MQ-6",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8023e3f75e4bd5b5",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]