flows(1).json
[
    {
        "id": "bc9ed8412c54dd5c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c398056ca1b97367",
        "type": "mqtt in",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "topic": "dht11/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "4fcd38a874c86282",
                "7fe3ad07c6a6beab"
            ]
        ]
    },
    {
        "id": "9dfc8966bdcd3b5d",
        "type": "ui_gauge",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "3250b3d94e1fa8e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMIDITY",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "bd28039b0205a1aa",
        "type": "ui_gauge",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "ca3d6129ee0774b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURE",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00ffff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "4fcd38a874c86282",
        "type": "function",
        "z": "bc9ed8412c54dd5c",
        "name": "function 1",
        "func": "let data = msg.payload.split(\",\");\nmsg.payload = parseFloat(data[0]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 40,
        "wires": [
            [
                "bd28039b0205a1aa",
                "b71833e594cbdc40"
            ]
        ]
    },
    {
        "id": "7fe3ad07c6a6beab",
        "type": "function",
        "z": "bc9ed8412c54dd5c",
        "name": "function 2",
        "func": "let data = msg.payload.split(\",\");\nmsg.payload = parseFloat(data[1]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "9dfc8966bdcd3b5d",
                "4e836e81a9b2b0c6"
            ]
        ]
    },
    {
        "id": "4e836e81a9b2b0c6",
        "type": "ui_chart",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "3250b3d94e1fa8e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "CHART",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b71833e594cbdc40",
        "type": "ui_chart",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "ca3d6129ee0774b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "CHART",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7556268896a48e13",
        "type": "ui_chart",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "ac01a193e7e49e30",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CHART",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff80ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "df1fc41ea3840374",
        "type": "function",
        "z": "bc9ed8412c54dd5c",
        "name": "function 3",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "7556268896a48e13",
                "9283867af3afe7a8"
            ]
        ]
    },
    {
        "id": "9c3ca9f94400fcc0",
        "type": "mqtt in",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "topic": "ldr/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 800,
        "wires": [
            [
                "df1fc41ea3840374"
            ]
        ]
    },
    {
        "id": "9283867af3afe7a8",
        "type": "ui_gauge",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "9095ebcfa53b45a0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GAUGE",
        "label": "ADC",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 800,
        "wires": []
    },
    {
        "id": "2c4709fc7fd627c1",
        "type": "mqtt in",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "topic": "hcsr04/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 440,
        "wires": [
            [
                "1794f0b98e9a0330"
            ]
        ]
    },
    {
        "id": "1794f0b98e9a0330",
        "type": "function",
        "z": "bc9ed8412c54dd5c",
        "name": "function 4",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [
            [
                "81dbed2989625e7a",
                "534a0d2abe3826f2"
            ]
        ]
    },
    {
        "id": "81dbed2989625e7a",
        "type": "ui_gauge",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "7e4ca4b84762c487",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GAUGE",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "534a0d2abe3826f2",
        "type": "ui_chart",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "d574d3168af08533",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CHART",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9f47d36340eb5248",
        "type": "ui_chart",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "b342f9e127c184d0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "VALUE",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1982e7bb628bf729",
        "type": "function",
        "z": "bc9ed8412c54dd5c",
        "name": "function 5",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "9f47d36340eb5248",
                "beb20af3364698b4"
            ]
        ]
    },
    {
        "id": "cdaa9f8f7623c5f6",
        "type": "mqtt in",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "topic": "mq/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 240,
        "wires": [
            [
                "1982e7bb628bf729"
            ]
        ]
    },
    {
        "id": "beb20af3364698b4",
        "type": "ui_gauge",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "group": "d6ce21bc59035408",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "VALUE",
        "label": "ADC",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "7332c291e05c8b18",
        "type": "function",
        "z": "bc9ed8412c54dd5c",
        "name": "function 6",
        "func": "if (msg.payload == 0){\n    msg.payload = \"GAS TERDETEKSI\";\n} else {\n    msg.payload = \"AMAN\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 340,
        "wires": [
            [
                "61ad2fb933bf5b32"
            ]
        ]
    },
    {
        "id": "74642edaeb216876",
        "type": "function",
        "z": "bc9ed8412c54dd5c",
        "name": "function 7",
        "func": "if (msg.payload == 0){\n    msg.payload = \"TERANG\";\n} else {\n    msg.payload = \"GELAP\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 900,
        "wires": [
            [
                "7b9e604d6a168fa1"
            ]
        ]
    },
    {
        "id": "61ad2fb933bf5b32",
        "type": "ui_text",
        "z": "bc9ed8412c54dd5c",
        "group": "d6ce21bc59035408",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Output Digital",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "7b9e604d6a168fa1",
        "type": "ui_text",
        "z": "bc9ed8412c54dd5c",
        "group": "9095ebcfa53b45a0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Output Digital",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 900,
        "wires": []
    },
    {
        "id": "749016bfced31dd0",
        "type": "mqtt in",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "topic": "mq_digital/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 340,
        "wires": [
            [
                "7332c291e05c8b18"
            ]
        ]
    },
    {
        "id": "123dddde62414b81",
        "type": "mqtt in",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "topic": "ldr_digital/TA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda584a28204b8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 900,
        "wires": [
            [
                "74642edaeb216876"
            ]
        ]
    },
    {
        "id": "0457ddba14ab6fff",
        "type": "mqtt out",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "topic": "output_control/HCSR04",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1fda584a28204b8c",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "d690bba0dfe0327b",
        "type": "ui_switch",
        "z": "bc9ed8412c54dd5c",
        "name": "LED CONTROL",
        "label": "LED",
        "tooltip": "",
        "group": "7e4ca4b84762c487",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "output_control/HCSR04",
        "topicType": "msg",
        "style": "",
        "onvalue": "LED_ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LED_OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "0457ddba14ab6fff"
            ]
        ]
    },
    {
        "id": "5453265fedf9b514",
        "type": "ui_switch",
        "z": "bc9ed8412c54dd5c",
        "name": "BUZZER CONTROL",
        "label": "BUZZER",
        "tooltip": "",
        "group": "7e4ca4b84762c487",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "output_control/HCSR04",
        "topicType": "msg",
        "style": "",
        "onvalue": "BUZZER_ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "BUZZER_OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "0457ddba14ab6fff"
            ]
        ]
    },
    {
        "id": "ebbf73e0b04cae30",
        "type": "ui_switch",
        "z": "bc9ed8412c54dd5c",
        "name": "CONTROL SERVO",
        "label": "SERVO",
        "tooltip": "",
        "group": "7e4ca4b84762c487",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "output_control/HCSR04",
        "topicType": "msg",
        "style": "",
        "onvalue": "SERVO_OPEN",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "SERVO_CLOSE",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "0457ddba14ab6fff"
            ]
        ]
    },
    {
        "id": "dcc7b338cb2df9c9",
        "type": "mqtt out",
        "z": "bc9ed8412c54dd5c",
        "name": "",
        "topic": "output_control/LDR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1fda584a28204b8c",
        "x": 470,
        "y": 1000,
        "wires": []
    },
    {
        "id": "67999b2605c777ee",
        "type": "ui_switch",
        "z": "bc9ed8412c54dd5c",
        "name": "LED CONTROL",
        "label": "LED",
        "tooltip": "",
        "group": "9095ebcfa53b45a0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "output_control/LDR",
        "topicType": "msg",
        "style": "",
        "onvalue": "LED_ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LED_OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 960,
        "wires": [
            [
                "dcc7b338cb2df9c9"
            ]
        ]
    },
    {
        "id": "f2bf1e2ce008a394",
        "type": "ui_switch",
        "z": "bc9ed8412c54dd5c",
        "name": "BUZZER CONTROL",
        "label": "BUZZER",
        "tooltip": "",
        "group": "9095ebcfa53b45a0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "output_control/LDR",
        "topicType": "msg",
        "style": "",
        "onvalue": "BUZZER_ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "BUZZER_OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "dcc7b338cb2df9c9"
            ]
        ]
    },
    {
        "id": "8399cdf2ae2a9d18",
        "type": "ui_switch",
        "z": "bc9ed8412c54dd5c",
        "name": "CONTROL SERVO",
        "label": "SERVO",
        "tooltip": "",
        "group": "9095ebcfa53b45a0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "output_control/LDR",
        "topicType": "msg",
        "style": "",
        "onvalue": "SERVO_OPEN",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "SERVO_CLOSE",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "dcc7b338cb2df9c9"
            ]
        ]
    },
    {
        "id": "1fda584a28204b8c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3250b3d94e1fa8e6",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "23ce40b25f59cdd3",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": true,
        "className": ""
    },
    {
        "id": "ca3d6129ee0774b9",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "23ce40b25f59cdd3",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac01a193e7e49e30",
        "type": "ui_group",
        "name": "LDR",
        "tab": "1349a6ef6e818384",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9095ebcfa53b45a0",
        "type": "ui_group",
        "name": "LDR",
        "tab": "1349a6ef6e818384",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e4ca4b84762c487",
        "type": "ui_group",
        "name": "HCSR-04",
        "tab": "b455195c09c5ee04",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d574d3168af08533",
        "type": "ui_group",
        "name": "HCSR-04",
        "tab": "b455195c09c5ee04",
        "order": 2,
        "disp": true,
        "width": 17,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b342f9e127c184d0",
        "type": "ui_group",
        "name": "CHART",
        "tab": "6d3a7c3e2773e660",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ce21bc59035408",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "6d3a7c3e2773e660",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "23ce40b25f59cdd3",
        "type": "ui_tab",
        "name": "DHT 11",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1349a6ef6e818384",
        "type": "ui_tab",
        "name": "LDR",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b455195c09c5ee04",
        "type": "ui_tab",
        "name": "HCSR-04",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d3a7c3e2773e660",
        "type": "ui_tab",
        "name": "MQ-6",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9bc05314b07789dd",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]